body {
  background-color: white; /* или #f5f8fc, или #e0e0e0 — по вкусу */
}

 .preloader {
  opacity: 1;
  transition: opacity 0.6s ease;
}

.preloader.hide {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.preloader {
  position: fixed;
  inset: 0;
  background: linear-gradient(135deg, #016a11, #030371);
  /* background-image: linear-gradient(135deg, #3a7d44, #b4a078); */



  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  font-family: sans-serif;
}

.preloader-knight {
  width: 800px;
  animation: pulse 1.5s ease-in-out infinite;
}

.preloader p {
  margin-top: 20px;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  text-shadow: 0 1px 3px rgba(0,0,0,0.5);
  background: linear-gradient(270deg, #ffcc70, #c850c0, #4158d0, #ffcc70);
  background-size: 600% 600%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientShift 5s ease infinite;
  text-shadow: 0 1px 3px rgba(0,0,0,0.3);
}

@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

@keyframes pulse {
  0%, 100% { transform: scale(1); opacity: 1; }
  50% { transform: scale(1.1); opacity: 0.8; }
}
